In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# **How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)**

In [3]:
df.race.value_counts()

White                 8314
Black                  927
Asian-Pac-Islander     297
Amer-Indian-Eskimo      96
Other                   79
Name: race, dtype: int64

**What is the average age of men?**

In [4]:
round(df[df.sex == 'Male'].age.mean(), 1)

39.2

**What is the percentage of people who have a Bachelor's degree?bold text**

In [5]:
df.education.value_counts(normalize=True)['Bachelors']

0.16308040770101925

**What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**

In [6]:
advanced_education = ['Bachelors', 'Masters', 'Doctorate']
df[df.education.isin(advanced_education)].salary.value_counts(normalize=True)['>50K']

0.4612596284549162

**What percentage of people without advanced education make more than 50K?**

In [7]:
df[~df.education.isin(advanced_education)].salary.value_counts(normalize=True)['>50K']

0.1716189207195203

**What is the minimum number of hours a person works per week?**

In [8]:
df[df['hours-per-week'] == df['hours-per-week'].min()].salary.value_counts(normalize=True)['>50K']

0.1111111111111111

**What country has the highest percentage of people that earn >50K and what is that percentage?**

In [9]:
countries = df['native-country'].value_counts()
countries

United-States                 8687
Mexico                         200
?                              175
Philippines                     48
Canada                          46
Germany                         43
Puerto-Rico                     34
Jamaica                         29
Cuba                            29
China                           28
El-Salvador                     28
England                         26
South                           25
India                           24
Vietnam                         23
Dominican-Republic              22
Poland                          22
Iran                            20
Japan                           20
Guatemala                       20
Italy                           19
Greece                          17
Taiwan                          16
Haiti                           14
Portugal                        12
Nicaragua                       10
Columbia                         9
Ecuador                          7
Thailand                         7
Peru                             7
Cambodia                         7
Ireland                          6
Trinadad&Tobago                  6
Honduras                         5
Laos                             4
Outlying-US(Guam-USVI-etc)       4
Yugoslavia                       4
France                           4
Scotland                         3
Hong                             1
Hungary                          1
Name: native-country, dtype: int64

In [10]:
rich_countries = df[df.salary =='>50K'].groupby('native-country')['salary'].size()
rich_countries

native-country
?                       51
Cambodia                 3
Canada                  18
China                    5
Columbia                 1
Cuba                     4
Dominican-Republic       2
El-Salvador              3
England                  7
France                   1
Germany                 12
Greece                   4
Guatemala                1
Haiti                    1
Honduras                 1
India                    6
Iran                     9
Ireland                  1
Italy                    9
Jamaica                  6
Japan                    6
Mexico                  12
Peru                     1
Philippines             13
Poland                   3
Portugal                 2
Puerto-Rico              5
South                    2
Taiwan                   8
Thailand                 2
United-States         2104
Vietnam                  2
Yugoslavia               1
Name: salary, dtype: int64

In [11]:
result = (rich_countries/countries) * 100
result

?                             29.142857
Cambodia                      42.857143
Canada                        39.130435
China                         17.857143
Columbia                      11.111111
Cuba                          13.793103
Dominican-Republic             9.090909
Ecuador                             NaN
El-Salvador                   10.714286
England                       26.923077
France                        25.000000
Germany                       27.906977
Greece                        23.529412
Guatemala                      5.000000
Haiti                          7.142857
Honduras                      20.000000
Hong                                NaN
Hungary                             NaN
India                         25.000000
Iran                          45.000000
Ireland                       16.666667
Italy                         47.368421
Jamaica                       20.689655
Japan                         30.000000
Laos                                NaN
Mexico                         6.000000
Nicaragua                           NaN
Outlying-US(Guam-USVI-etc)          NaN
Peru                          14.285714
Philippines                   27.083333
Poland                        13.636364
Portugal                      16.666667
Puerto-Rico                   14.705882
Scotland                            NaN
South                          8.000000
Taiwan                        50.000000
Thailand                      28.571429
Trinadad&Tobago                     NaN
United-States                 24.220099
Vietnam                        8.695652
Yugoslavia                    25.000000
dtype: float64

In [12]:
result.idxmax()

'Taiwan'

In [13]:
result.max()

50.0

**Identify the most popular occupation for those who earn >50K in India.**

In [14]:
df[(df['native-country'] == 'India') & (df.salary == '>50K')].occupation.value_counts().idxmax()

'Prof-specialty'

In [17]:
def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df.race.value_counts()

    # What is the average age of men?
    average_age_men = round(df[df.sex == 'Male'].age.mean(), 1)

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round(df.education.value_counts(normalize=True)['Bachelors'] * 100, 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    advanced_education = ['Bachelors', 'Masters', 'Doctorate']

    higher_education = df[df.education.isin(advanced_education)]
    lower_education =  df[~df.education.isin(advanced_education)]

    # percentage with salary >50K
    higher_education_rich = round(higher_education.salary.value_counts(normalize=True)['>50K'] * 100, 1)
    lower_education_rich = round(lower_education.salary.value_counts(normalize=True)['>50K'] * 100, 1)

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df[df['hours-per-week'] == df['hours-per-week'].min()]

    rich_percentage = num_min_workers.salary.value_counts(normalize=True)['>50K'] * 100

    # What country has the highest percentage of people that earn >50K?
    grouped_highest_earnings = df[df.salary == '>50K'].groupby('native-country')['salary'].count() / df['native-country'].value_counts()

    highest_earning_country = grouped_highest_earnings.idxmax()
    highest_earning_country_percentage = round(grouped_highest_earnings.max()*100, 1)

    # Identify the most popular occupation for those who earn >50K in India.
    top_IN_occupation = df[(df['native-country'] == 'India') & (df.salary == '>50K')].occupation.value_counts().idxmax()




    if print_data:
        print("Number of each race:\n", race_count)
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [18]:
calculate_demographic_data(False)

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}